<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.wubai.mapper.UserMapper">
<!--    IPage<User> queryByAge(IPage<User> page, @Param("age") Integer age);-->
    <select id="queryByAge" resultType="com.wubai.entity.User">
        select * from user where age> #{age}
    </select>
</mapper>
